html {
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* ----- =Header ----- */

.masthead {
  background-color: #111;
  padding-top: 1em;
  padding-bottom: .25em;
}

h1 {
  color: white;

  margin-top: 0;

  text-align: center;
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.navbar {
  list-style-type: none;
  text-align: center;

  border-top: 2px solid #393;
  border-bottom: 2px solid #393;

  padding-left: 0;

  overflow: hidden;

  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

}

.navbar li {
  float:left;
  width: 25%;
  text-align: center;

  padding: .5em;
}

.navbar a {
  display: inline-block;
  color: white;

  padding: 1em 2em;

  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.navbar a:hover {
  background-color: #333;
  border-radius: 8px;
}

a.current {
  background-color: #393;
  border-radius: 8px;
}

a.current:hover {
  background-color: #373;
  border-radius: 8px;
}

/* ----- =Footer ----- */

.footer {
  background-color: #222;
  padding: 2em 0 1em;
}

.nav-social {
  list-style-type: none;
  padding: 0;
  text-align: center;
  overflow: hidden;

  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.nav-social li {
  float:left;
  width: 25%;
  text-align: center;
}

.nav-social a {
  color: white;
  text-decoration: none;
}

.fbook {
  width: 30px;
}

.info-nav {
  margin: 2em 0;
}

.nav-info {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-info li {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #666;
}

li.no-bord {
  border-right: 0px solid black;
}

.nav-info a {
  color: #666;
  text-decoration: none;
  padding: 1.5em;
}
